.footer {
    &__credentials {
        margin: 0 auto;
        color: #fff;
        font-size: $footer-font-size-main;
        text-align: right;
    }

    &__icon {
        line-height: 100%;
        width: $footer-font-size-main;
        height: $footer-font-size-main;
        vertical-align: middle;
    }
}