.tab {
    display: table;
    margin: 5rem auto;
    padding: 0 .5rem;

    &__line {
        display: table-row;
        height: $main-cell-dimention;

        border: 0.2rem solid;
        border-radius: 5rem;

        &--header {
            display: table-row;
            background-color: inherit;
            border-bottom: .2rem solid #ffffff;
        }
    }

    &__empty-cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;;
        width: 2rem;
        // height: $main-cell-dimention;

        padding: 6rem .2rem 0;
        // padding: 2.6rem .2rem 0;
        line-height: 2rem;
        font-size: 2rem;
        color: #ffffff;

        // background-color: yellowgreen;

        &--head {
            color: transparent;
        }
    }

    &__heading-cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: $main-cell-dimention;
        height: $main-cell-dimention;
        line-height: $main-cell-dimention;
        font-size: 5rem;

        // background-color: orangered;

        &--side {
            width: 6.5rem;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: auto;
    // background-color: #cf7346;
    background-image: linear-gradient(#ee8f66, #cf7346);// #fd7a3a); 

  }