*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    //defines how many px is 1rem
    font-size: 62.5%; //1rem = 10px (10px/16px = 62.5%)

    // font-family: 'Orbitron', sans-serif;
    font-family: 'Lemonada', cursive;
    
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(#ee8f66, #cf7346);// #fd7a3a); 
    // color: #ffc4ab;
    // color: #fd7a3a;
    // background-image: linear-gradient(#6cb488fb, #9f79f6);
}

////////////////////////////////////////////////
//COMPATIBILITY WITH NON-HTML5 BROWSERS
footer,
header,
nav,
section {
  display: block;
}