.one {
    color: #565656;
    fill: #565656;
    border-color: #565656;
}

.two {
    color: #ffe600;
    fill: #ffe600;
    border-color: #ffe600;
}

.three {
    // color: #ff0000;
    // fill: #ff0000;
    color: #f10f0f;
    fill: #f10f0f;
    border-color: #f10f0f;
}

.four {
    // color: #33ff00;
    // fill: #33ff00;
    color: #ffe600;
    fill: #ffe600;
    border-color: #ffe600;
}

.five {
    // color: #00dd88;
    // fill: #00dd88;
    color: #1a47c3;
    fill: #1a47c3;
    border-color: #1a47c3;
}

.six {
    // color: #0044ff;
    // fill: #0044ff;
    color: #ffe600;
    fill: #ffe600;
    border-color: #ffe600;
}

.seven {
    // color: #4400ff;
    // fill: #4400ff;
    color: #8f1b7b;
    fill: #8f1b7b;
    border-color: #8f1b7b;
}

.eight {
    // color: #ae00ff;
    // fill: #ae00ff;
    color: #ffe600;
    fill: #ffe600;
    border-color: #ffe600;
}

.nine {
    // color: #ff00ff;
    // fill: #ff00ff;
    color: #f56709;
    fill: #f56709;
    border-color: #f56709;
}

.ten {
    // color: #00ffff;
    // fill: #00ffff;
    color: #ffe600;
    fill: #ffe600;
    border-color: #ffe600;
}
